{% extends 'base.html' %}

{% load bootstrap_toolkit %}

{% block title %}Rango{% endblock %}

{% block body_block %}
  {% if form %}
  
    <form method="post" enctype="multipart/form-data">
    {{ form|as_bootstrap }}
    {% csrf_token %} 
      <input type="submit" value="OK">
    </form>
  
  {% endif %}

  {% if formset %}
  <form method="post">{% csrf_token %}
    {{ formset.management_form }}

    {% for form in formset %}
      {{ form|as_bootstrap }}
      </br>
    {% endfor %}
    <input type="submit" value="Submit" />
  {% endif %}
{% endblock %}

